{% extends '::base.html.twig' %}

{% block title %}{% trans %}PPI API{% endtrans %}{% endblock %}

{% block header %}

    <div class="header">
        <ul class="nav nav-pills pull-right">
        	<li><a href="/">Home</a></li>
            <li class="active"><a href="/doc/v1/">API Documentation</a></li>
        </ul>
        <h3 class="text-muted">PPI API</h3>
    </div>
{% endblock header %}

{% block page_header %}
	{% if party.logo %}
		<img class="header-image" src="{{ party.logo }}">
	{% else %}
		<img class="header-image" src="/bundles/ppiapi/images/pp.png">
	{% endif %}
	<h1>{{ party.label }}</h1>
	<div class="other-lables">{{ party.nativeLabel }}</div>
{% endblock page_header %}

{% block content_row %}
		{# Basic information #}

<div class="panel panel-default">
  <div class="panel-heading">Basic info</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
	  <dt>Country</dt>
	  <dd>{{ party.country }}</dd>
	  <dt>Type of organisation</dt>
	  <dd>{{ party.type|capitalize }}</dd>
	  <dt>Party Code</dt>
	  <dd>{{ party.partyCode }}</dd>
	  {# <dt>PPI Membership</dt>
	  <dd>{{ party.membership.ppi }}</dd>
	  <dt>PPEU Membership</dt>
	  <dd>unknown</dd> #}
	</dl>
  </div>
</div>


{# contact #}
{% if party.contact.general %}
    <div class="panel panel-default">
		<div class="panel-heading">Contact</div>
		<div class="panel-body">
			{% if party.contact.general.email %}
				<dl class="dl-horizontal">
					  <dt>Email</dt>
					  <dd>{{ party.contact.general.email }}</dd>
				</dl>
	    		
	    	{% else %}
	    		<dl class="dl-horizontal">
					  <dt>URL</dt>
					  <dd><a href="{{ party.contact.general.url }}">{{ party.contact.general.url }}</a></dd>
				</dl>
	    	{% endif %}
	</div>
</div>
{% endif %}

{# WEBSITES #}
{% if party.websites %}
<div class="panel panel-default">
	<div class="panel-heading">Websites</div>
	<div class="panel-body">
		<dl class="dl-horizontal">
			{% for wtype, website in party.websites %}
				<dt>{{ wtype|capitalize }}</dt>
				<dd><a href="{{ website }}">{{ website }}</a></dd>
			{% endfor %}
		</dl>
</div>
</div>
{% endif %}	

{# SOCIAL #}

<div class="panel panel-default">
	<div class="panel-heading">Social</div>
	<div class="panel-body">
	
		<dl class="dl-horizontal">
			{# Facebook #}
			{% if party.socialNetworks.facebook %}
				<dt>Facebook</dt>
				<dd><a href="https://www.facebook.com/{{ party.socialNetworks.facebook.username }}">{{ party.socialNetworks.facebook.username }}</a></dd>
			{% endif %}

			{# Twitter #}
			{% if party.socialNetworks.twitter %}
				<dt>Twitter</dt>
				<dd><a href="https://twitter.com/{{ party.socialNetworks.twitter.username }}">@{{ party.socialNetworks.twitter.username }}</a></dd>
			{% endif %}

			{# googlePlus #}
			{% if party.socialNetworks.googlePlus %}
				<dt>Google+</dt>
				<dd><a href="https://plus.google.com/{{ party.socialNetworks.googlePlus }}">Official page</a></dd>
			{% endif %}

			{# youtube #}
			{% if party.socialNetworks.youtube %}
				<dt>YouTube</dt>
				<dd><a href="http://www.youtube.com/{{ party.socialNetworks.youtube }}">{{ party.socialNetworks.youtube }}</a></dd>
			{% endif %}
		</dl>

	</div>
</div>
	
{% endblock content_row %}