{% extends 'base.html.twig' %}
{% block javascripts_extra %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-sanitize.js"></script>
    <script src="/js/postList.js"></script>
    <script src="/js/pictureAndPostFactory.js"></script>
    <script src="/js/ng-infinite-scroll.min.js"></script>
{% endblock javascripts_extra %}
{% block title %}Pirate Party Registry Social Media Pictures{% endblock %}


{% block content %}
{% verbatim %} 
    <div class="container"  ng-app="app" ng-controller="postController">
        <!--loading screen without loading circle -->
        <div  id="loading-background" ng-class="backgroundClass" ng-if="loading">
        </div>
        <div class="section valign-wrapper">
            <div class="singlePage" infinite-scroll="loadMore()" infinite-scroll-distance="1">
                <div class="row">
                    <div class="col s12">
                        <a class="waves-effect waves-light btn filter-button z-depth-0" ng-click="defaultSort()">Reset filters</a>
                        <!-- Platform selection dropdown -->
                        <a class="waves-effect waves-light dropdown-button btn filter-button z-depth-0 sort-white platform-button asc" data-activates="platform-selection" data-beloworigin="true">{{selectedPlatform()}}</a>
                            <ul id="platform-selection" class="dropdown-content arrow-color z-depth-0 filter-menu dropdown-platform">
                                <li class="filter-menu-items dropdown-menu-social-filter" ng-click="radioBtn = 'all'; filterPlatform(radioBtn) "><input id="all-platforms" class="with-gap platform-button" name="platform" type="radio" id="all-platform" value="all" ng-model="radioBtn" ng-click="filterPlatform(radioBtn)">
                                    <label for="all-platforms" class="platform-dropdown-font  radioButtonLabel">All</label>
                                </li>
                                <li class="filter-menu-items dropdown-menu-social-filter" ng-click="radioBtn = 'fb'; filterPlatform(radioBtn)" ><input class="with-gap" name="platform" type="radio" id="FB-platform" value="fb" ng-model='radioBtn' ng-click="filterPlatform(radioBtn)">
                                    <label for="FB-platform" class="platform-dropdown-font  radioButtonLabel">Facebook</label>
                                </li>
                                <li class="filter-menu-items dropdown-menu-social-filter" ng-click="radioBtn = 'tw'; filterPlatform(radioBtn)"><input class="with-gap" name="platform" type="radio" id="TW-platform" value="tw" ng-model='radioBtn' ng-click="filterPlatform(radioBtn)">
                                    <label for="TW-platform" class="platform-dropdown-font  radioButtonLabel">Twitter</label></li>
                               <!-- <li class="filter-menu-items dropdown-menu-social-filter" ng-click="radioBtn = 'G+'"><input class="with-gap" name="platform" type="radio" id="G+-platform" value="G+ "ng-model="radioBtn" ng-click="filterPlatform(radioBtn)">
                                    <label for="G+-platform" class="dropdown-font-text radioButtonLabel">Google+</label></li> -->
                            </ul>
                            <!-- Party selection dropdown -->
                            <a class="waves-effect waves-light dropdown-button btn filter-button z-depth-0 sort-white asc" ng-click="emptyInput()"data-activates="party-selection" data-beloworigin="true" id="party-selection-button"> Party <span class="hide-bellow-1250">selection</span></a>
                            <ul id="party-selection" class="dropdown-content arrow-color z-depth-0 filter-menu dropdown-menu-parties">
                                <!--both dropdown-text-input-li and dropdown-text-input are using !important" -->
                                <li class="dropdown-text-input-li">
                                    <input placeholder="SEARCH" class="dropdown-text-input" name="party" type="text" ng-model="partySelection" id="party-selection-search" autofocus>
                                </li>             
                                <li class="filter-menu-items party-dropdown waves-effect valign" ng-click="filterParty(items.code)"  ng-repeat="items in partyList | filter:partySelection:items.name.en track by $index">
                                    <span class="party-dropdown-font valign" ng-attr-id="{{items.code}}">{{items.name.en}}</span>
                                </li>
                            </ul>
                        <a class="waves-effect waves-light btn filter-button z-depth-0  sort-white" ng-click="sortDescViews()" id="asc-desc-views">Engagement</a>
                     </div>
                </div>
                <!-- cards while loading and loading circle-->
                <div class="row" ng-if="loading">
                    <div class="preloader-wrapper big active" id="loading">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                              </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col l8 m12 offset-l2 placement-class" ng-repeat="n in [].constructor(20) track by $index">
                         <div class="card">
                            <div class="card-image card-image-img">
                                <span class="card-title-bottom  card-belt">
                                    <img class="card-belt-social-img" ng-src="/img/{{items.type}}.png" style="width:29px;height:29px;">
                                </span>
                            </div>
                            <div class="card-content right-align card-content-additions">
                                <p class="card-text"><span class="emphasis">unknown</span> people <i class="material-icons really-tiny">info_outline</i><p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- cards -->
                <div class="row"  ng-repeat="items in data track by $index">
                    <div class="col l8 m12 offset-l2 placement-class">
                        <div class="card card-post-size" ng-hide="items.post_text == ''">
                            <div class="card-image card-post"> 
                                <div>
                                    <div class="display-inline-block">
                                        <img ng-src="{{items.avatar}}" class="card-post-logo circle">
                                    </div>
                                    <div class="card-post-title display-inline-block">
                                        {{items.name}}
                                        <img class="card-post-title-img" ng-src="/img/{{items.type}}2.png">
                                    </div>     
                                </div>
                                <div  class="card-post-div">
                                    <div class="margin-bottom-25px"><p class="card-post-text" ng-class="{largerText:textSize(items.post_text)}" ng-bind-html="items.post_text | linky"></p></div>
                                    <a class="card-post-link" target="_blank" ng-href="{{getUrl(items)}}">Original link</a>
                                </div>
                            </div>                           
                            <div class="card-content card-content-additions card-post-bottom">
                                <span class="card-post-smaller">{{items.post_time | date }}</span>
                                <span class="card-text card-picture-engagement-position">
                                    <span class="emphasis-posts">{{items.post_likes}}</span> <span ng-show="items.post_likes!=1">people</span>
                                    <span ng-show="items.post_likes==1">person</span>
                                    <span class="tooltip"><i class="material-icons really-tiny tooltip">info_outline</i>
                                    <span class="tooltiptext">Social engagement score</span></span>
                                <span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- When no data is present -->
                <div class="row" ng-if="noData">
                    <div class="col s12">
                        <h3 class="center-align">Error, we couldn't find any posts for this party :(</h3>
                    </div>
                    <div class="col s12 social-hidden">
                        <p>Hidden text, that ensure that the page is prperly streched even though there is no data on the page. this is fake text, taht streches the page. No idea why it isn't working fine with it without it.</p>
                    </div>
                </div>

            </div>
        </div>
        <br><br>


    </div>
{% endverbatim %}
{% endblock content%}