{% extends 'base.html.twig' %}
{% block javascripts_extra %}
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>  
	<script src="/js/pictureList.js"></script>
    <script src="/js/pictureAndPostFactory.js"></script>
    <script src="/js/ng-infinite-scroll.min.js"></script>
{% endblock javascripts_extra %}
{% block title %}Pirate Party Registry Social Media Pictures{% endblock %}


{% block content %}
{% verbatim %} 
    <div class="container"  ng-app="app" ng-controller="pictureController">
        <!--loading screen without loading circle -->
        <div  ng-class="backgroundClass">
        </div>
        <div class="section valign-wrapper">
            <div class="singlePage valign" infinite-scroll="loadMore()" infinite-scroll-distance="1">
                <div class="row">
                    <div class="col s12">
                        <a class="waves-effect waves-light btn filter-button z-depth-0" ng-click="defaultSort()">Reset filters</a>
                        <!-- Platform selection dropdown -->
                        <a class="waves-effect waves-light dropdown-button btn filter-button z-depth-0 sort-white platform-button asc" data-activates="platform-selection" data-beloworigin="true">{{selectedPlatform()}}</a>
                            <ul id="platform-selection" class="dropdown-content arrow-color z-depth-0 filter-menu">
                                <li class="filter-menu-items dropdown-menu-social-filter" ng-click="radioBtn = 'all'"><input id="all-platforms" class="with-gap platform-button" name="platform" type="radio" id="all-platform" value="all" ng-model="radioBtn" ng-click="filterPlatform(radioBtn)">
                                    <label for="all-platforms" class="dropdown-font-text radioButtonLabel">All</label>
                                </li>
                                <li class="filter-menu-items dropdown-menu-social-filter" ng-click="radioBtn = 'fb'; filterPlatform(radioBtn)" ><input class="with-gap" name="platform" type="radio" id="FB-platform" value="fb" ng-model='radioBtn' ng-click="filterPlatform(radioBtn)">
                                    <label for="FB-platform" class="dropdown-font-text radioButtonLabel">Facebook</label>
                                </li>
                                <li class="filter-menu-items dropdown-menu-social-filter" ng-click="radioBtn = 'tw'; filterPlatform(radioBtn)"><input class="with-gap" name="platform" type="radio" id="TW-platform" value="tw" ng-model='radioBtn' ng-click="filterPlatform(radioBtn)">
                                    <label for="TW-platform" class="dropdown-font-text radioButtonLabel">Twitter</label></li>
                               <!-- <li class="filter-menu-items dropdown-menu-social-filter" ng-click="radioBtn = 'G+'"><input class="with-gap" name="platform" type="radio" id="G+-platform" value="G+ "ng-model="radioBtn" ng-click="filterPlatform(radioBtn)">
                                    <label for="G+-platform" class="dropdown-font-text radioButtonLabel">Google+</label></li> -->
                            </ul>
                            <!-- Party selection dropdown -->
                            <a class="waves-effect waves-light dropdown-button btn filter-button z-depth-0 sort-white asc" ng-click="emptyInput()"data-activates="party-selection" data-beloworigin="true" id="party-selection-button">Party selection</a>
                            <ul id="party-selection" class="dropdown-content arrow-color z-depth-0 filter-menu dropdown-menu-parties">
                                <li class="dropdown-text-input-li">
                                    <input placeholder="SEARCH" class="dropdown-text-input" name="party" type="text" ng-model="partySelection" id="party-selection-search" autofocus>
                                </li>             
                                <li class="filter-menu-items party-dropdown waves-effect valign" ng-click="filterParty(items.code)"  ng-repeat="items in partyList | filter:partySelection:items.name.en track by $index">
                                    <span class="dropdown-font-text valign" ng-attr-id="{{items.code}}">{{items.name.en}}</span>
                                </li>
                            </ul>
                        <a class="waves-effect waves-light btn filter-button z-depth-0  sort-white" ng-click="sortDescViews()" id="asc-desc-views">reach</a>
                     </div>
                </div>
                <!-- cards while loading -->
                <div class="row" ng-if="loading">
                    <div class="preloader-wrapper big active" id="loading">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                              </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col l3 m6 placement-class" ng-repeat="n in [].constructor(40) track by $index">
                         <div class="card">
                            <div class="card-image card-image-img" ng-style="{'background-image':'url()'}">
                                <span class="card-title-bottom  card-belt">
                                    <p class="card-belt-font display-inline ">PPXX</p>
                                    <img class="card-belt-social-img" ng-src="/img/{{items.type}}.png" style="width:29px;height:29px;">
                                </span>
                            </div>
                            <div class="card-content right-align card-content-additions">
                              <p><b>Reach:</b> unknown people</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- cards -->
                <div class="row">
                    <div class="col l3 m6 placement-class" ng-repeat="items in data track by $index">
                         <div class="card">
                            <div class="card-image card-image-img" ng-style="{'background-image':'url(http://api.piratetimes.net/img/uploads/{{items.code}}/{{items.type}}/{{items.post_image}})'}">
                                <span class="card-title-bottom  card-belt">
                                    <p class="card-belt-font display-inline ">{{items.code}}</p>                                    
                                    <img class="card-belt-social-img" ng-src="/img/{{items.type}}.png" style="width:29px;height:29px;">
                                </span>
                            </div>
                            <div class="card-content right-align card-content-additions">
                              <p><b>Reach:</b> {{items.post_likes}} people</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- When no data is present -->
                <div class="row" ng-if="noData">
                    <div class="col s12">
                        <h3 class="center-align">Error, we couldn't find any pictures for this party :(</h3>
                    </div>
                    <div class="col s12 social-hidden">
                        <p>Hidden text, that ensure that the page is prperly streched even though there is no data on the page. this is fake text, taht streches the page. No idea why it isn't working fine with it without it.</p>
                    </div>
                </div>

            </div>
        </div>
        <br><br>


    </div>
{% endverbatim %}
{% endblock content%}

