{% extends 'base.html.twig' %}
{% block javascripts_extra %}
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>  
	<script src="/js/pictureList.js"></script>
    <script src="/js/pictureAndPostFactory.js"></script>
    <script src="/js/ng-infinite-scroll.min.js"></script>
{% endblock javascripts_extra %}
{% block title %}Pirate Party Registry Social Media Pictures{% endblock %}


{% block content %}
{% verbatim %}
    <div class="container"  ng-app="app" ng-controller="pictureController">
        <div class="section valign-wrapper">
            <div class="singlePage valign" infinite-scroll="loadMore()" infinite-scroll-distance="1">
                <div class="row">
                    <div class="col m12 s6">
                        <a class="waves-effect waves-light btn filter-button z-depth-0" ng-click="defaultSort()">default</a>
                        <a class="waves-effect waves-light dropdown-button btn filter-button z-depth-0 sort-white asc" data-activates="platform-selection" data-beloworigin="true">platform <span class="hide-bellow-520">selection</span></a>
                            <ul id="platform-selection" class="dropdown-content arrow-color z-depth-0 filter-menu">
                                <li class="filter-menu-items dropdown-menu-social-filter"><input type="checkbox" id="FB-platform" checked="checked">
                                    <label for="FB-platform" class="dropdown-font-text">Facebook</label>
                                </li>
                                <li class="filter-menu-items dropdown-menu-social-filter"><input type="checkbox" id="TW-platform" checked="checked">
                                    <label for="TW-platform" class="dropdown-font-text">Twitter</label></li>
                                <li class="filter-menu-items dropdown-menu-social-filter"><input type="checkbox" id="G+-platform" checked="checked">
                                    <label for="G+-platform" class="dropdown-font-text">Google+</label></li>
                                
                                    <a class="waves-effect btn filter-button dropdown-font-button z-depth-0 filter-menu-buttons" ng-click="">filter</a>
                            </ul>
                            <a class="waves-effect waves-light dropdown-button btn filter-button z-depth-0 sort-white asc" ng-click="emptyInput()"data-activates="party-selection" data-beloworigin="true">Party <span class="hide-bellow-520">selection</span></a>
                            <ul id="party-selection" class="dropdown-content arrow-color z-depth-0 filter-menu dropdown-menu-parties">
                                <li class="dropdown-text-input-li">
                                    <input placeholder="SEARCH" class="dropdown-text-input" name="party" type="text" ng-model="partySelection" id="party-selection">
                                </li>             
                                <li class="filter-menu-items party-dropdown waves-effect valign"  ng-repeat="items in partyList | filter:partySelection:items.name.en track by $index">
                                    <span class="dropdown-font-text valign"ng-attr-id="{{items.code}}">{{items.name.en}}</span>
                                </li>
                            </ul>
                        <a class="waves-effect waves-light btn filter-button z-depth-0  sort-white" ng-click="sortDescViews()" id="asc-desc-views">reach</a>
                     </div>
                </div>
                <div class="row" ng-if="loading">
                    <div class="col l3 m6 placement-class" ng-repeat="n in [].constructor(40) track by $index">
                         <div class="card">
                            <div class="card-image card-image-img" ng-style="{'background-image':'url()'}">
                                <span class="card-title-bottom  card-belt">
                                    <p class="card-belt-font display-inline ">PPXX</p>
                                    <img class="card-belt-social-img" ng-src="/img/{{items.type}}.png" style="width:29px;height:29px;">
                                </span>
                            </div>
                            <div class="card-content right-align card-content-additions">
                              <p><b>Reach:</b> unknown people</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m6 placement-class" ng-repeat="items in data track by $index">
                         <div class="card">
                            <div class="card-image card-image-img" ng-style="{'background-image':'url(http://api.piratetimes.net/img/uploads/{{items.code}}/{{items.type}}/{{items.post_image}})'}">
                                <span class="card-title-bottom  card-belt">
                                    <p>{{$index}}</p>
                                    <p class="card-belt-font display-inline ">{{items.code}}</p>                                    
                                    <img class="card-belt-social-img" ng-src="/img/{{items.type}}.png" style="width:29px;height:29px;">
                                </span>
                            </div>
                            <div class="card-content right-align card-content-additions">
                              <p><b>Reach:</b> {{items.post_likes}} people</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

    </div>
{% endverbatim %}
{% endblock content%}

