{% extends 'base.html.twig' %}
{% block javascripts_extra %}
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/js/ng-infinite-scroll.min.js"></script>
	<script src="/js/pictureList.js"></script>
    <script src="/js/pictureAndPostFactory.js"></script>
{% endblock javascripts_extra %}
{% block title %}AppBundle:Template:listPictures{% endblock %}


{% block content %}
{% verbatim %}
    <div class="container"  ng-app="app" ng-controller="pictureController">
        <div class="section valign-wrapper">
            <div class="singlePage valign" infinite-scroll='loadMore()' infinite-scroll-distance='1'>
                <div class="row">
                    <div class="col m12 s6">
                        <a class="waves-effect waves-light btn filter-button z-depth-0" ng-click="defaultSort()">deafult</a>
                        <a class="waves-effect waves-light dropdown-button btn filter-button z-depth-0 sort-white asc" data-activates="platform-selection" data-beloworigin="true">platform selection</a>
                            <ul id="platform-selection" class="dropdown-content arrow-color z-depth-0 filter-menu">
                                <li class="filter-menu-items"><input type="checkbox" id="FB-platform"/>
                                    <label for="FB-platform">Facebook</label>
                                </li>
                                <li class="filter-menu-items"><input type="checkbox" id="TW-platform"/>
                                    <label for="TW-platform">Twitter</label></li>
                                <li class="filter-menu-items"><input type="checkbox" id="G+-platform"/>
                                    <label for="G+-platform">Google+</label></li>
                                
                                    <a class="waves-effect btn filter-button dropdown-font-button z-depth-0 filter-menu-buttons" ng-click="">filter</a>
                            </ul>
                            <a class="waves-effect waves-light dropdown-button btn filter-button z-depth-0 sort-white asc" data-activates="party-selection" data-beloworigin="true">Party selection</a>
                            <ul id="party-selection" class="dropdown-content arrow-color z-depth-0 filter-menu">
                                <li class="filter-menu-items">
                                    <input class="with-gap" name="party" type="radio" id="all-parties" checked="checked">
                                    <label for="all-parties">Select all</label>
                                </li>
                                <li class="filter-menu-items"  ng-repeat="items in partyList">
                                    <input class="with-gap" name="party" type="radio" ng-attr-id="{{items.code}}">
                                    <label ng-attr-for="{{items.code}}">{{items.name.en}}</label>
                                </li>
                            </ul>
                        <a class="waves-effect waves-light btn filter-button z-depth-0  sort-white" ng-click="sortByViews()" id="asc-desc-views">reach</a>
                     </div>
                </div>
                <div class="row">
                    <div class="col l3 m6 placement-class" ng-repeat="items in data track by $index">
                         <div class="card">
                            <div class="card-image card-image-img" ng-style="{'background-image':'url({{items.url}})'}">
                                <span class="card-title-bottom  card-belt">
                                    <p class="card-belt-font display-inline ">{{items.party}}</p>
                                    <img class="card-belt-social-img" ng-src="/img/{{items.socialPlatform}}.png" style="width:29px;height:29px;">
                                </span>
                            </div>
                            <div class="card-content right-align card-content-additions">
                              <p><b>Reach:</b> {{items.likes}} people</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-init="fireEvent()"></div>
        </div>
        <br><br>

    </div>
{% endverbatim %}
{% endblock content%}

